@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Sans'), local('NotoSans'), url(//static.tkeiser.com/assets/fonts/core/notosans/notosans-regular.ttf) format('truetype');
}
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(//static.tkeiser.com/assets/fonts/core/notosans/notosans-bold.ttf) format('truetype');
}
@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(//static.tkeiser.com/assets/fonts/core/notoserif/notoserif-italic.ttf) format('truetype');
}
@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Serif'), local('NotoSerif'), url(//static.tkeiser.com/assets/fonts/core/notoserif/notoserif-regular.ttf) format('truetype');
}
@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(//static.tkeiser.com/assets/fonts/core/notoserif/notoserif-bold.ttf) format('truetype');
}
@import "font-awesome";
