<section class="colophon">
    <section class="copyright">Copyright &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. <span rel="license">All Rights Reserved</span>. <a href="/privacy-policy/">Privacy Policy</a> | <a href="/contact/">Contact Us</a> </section>
</section>
