.nav {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family:"Noto Sans",Helvetica,"Helvetica Neue",Arial,sans-serif;
    font-size: 0.75em;
}

.nav li {
    display: inline-block;
    line-height: 60px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.nav li a {
    margin: 0;
    margin-left: 1em;
    color: #fff;
    opacity: 0.8;
}

.nav li a:hover {
    text-decoration: none;
    opacity: 1;
}

.page-template #header .blog-content {
    position:absolute;
    width:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 20px
    color:#999
}

.page-template #header .blog-content .blog-title {
    font-size:14px;
    font-size:1.4rem;
    letter-spacing:0;
    margin:0
}

.page-template #header .blog-content nav.links ul li a {
    color:#999
}

.page-template #header .blog-content nav.links ul li a:hover {
    color:black
}
